SECRET_SMOKE_TEST=

SQL_PASSWORD=

DB_CONNECTION_NAME=DockerConnection

/* This should be a 32 char string, e.g. 
"THIS_IS_MY_SUPER_SECRET_KEY_12345" 
*/
JWT_KEY=

/* This should be a string e.g.,
"WonApi"
*/ 
JWT_ISSUER=

/* This one should also be a string e.g.,
"WonClient" 
*/ 
JWT_AUDIENCE=