.trip-page-container .title.is-4,
.trip-page-container .subtitle.is-6,
.trip-page-container .content {
    color: black;
}

.trip-page-container .card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
    max-width: auto;
    margin-bottom: 20px;
}
.trip-item {
    margin-bottom: 1.25rem;
}

.card-content:hover{
/*    background-color: aquamarine !important;*/
}

#create-trip-button {
    margin-bottom: 24px !important;
}

.dashboard-container {
    background: #1fb29c2e;
}

.box.widget {
    background: #1fb29c2e;
}