.trip-page-container .title.is-4,
.trip-page-container .subtitle.is-6,
.trip-page-container .content {
    color: white;
}

.trip-page-container .card-content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    max-width: auto;
    background-color: #4a4e4e !important;
    margin-bottom: 20px;
}

.card-content:hover{
    background-color: darkturquoise !important;
}

.trip-form-container .box{
    border: 2px solid black;
}

#create-trip-button {
    margin-bottom: 24px !important;
}

.recent-trips-widget {
    max-width: 400px;
    align-self: start;
    background-color: turquoise;
}